<div class="searchFilter searchFilter-center">
    <div class="input-group" >
        <input id="table_filter" 
                #searchInput 
                type="text" 
                class="form-control input-search"> &nbsp; 
        <div class="input-group-btn">
            <button name="searchBtn" 
                    type="button" 
                    class="btn btn-secondary btn-search"
                    (click)="searchProduct(searchInput.value)" >
                    <fa-icon class="icon-size" [icon]="fasearch"></fa-icon>
                <span class="label-icon">
                    &nbsp; Search
                </span>
            </button> &nbsp;
            <span *ngIf="!isAdvance" (click)="searchFilter()">
                <fa-icon class="icon-size" [icon]="facircledown"></fa-icon>
            </span>
        <span *ngIf="isAdvance" (click)="searchFilter()">
            <fa-icon class="icon-size" [icon]="facircleup"></fa-icon>
        </span>
      </div>
    </div>
</div>
<div class="form-group" *ngIf="this.isAdvance">
    <mat-form-field appearance="fill">
        <mat-label>Categories</mat-label>
        <mat-select [(ngModel)]="categories" #selectCategory name="categories" multiple>
            <mat-select-trigger>
            {{ categories ? categories[0]?.name : '' }}
            <span *ngIf="categories.length > 1 && !isAll" class="example-additional-selection">
                (+{{ categories.length - 1}} {{categories.length === 2 ? 'other' : 'others'}})
            </span>
            </mat-select-trigger>
            <mat-option [value]="{id: 0, name: 'All'}" (click)="selectedAll()">All</mat-option>
            <mat-option (click)="selectedCategories(categories)" *ngFor="let category of categoriesStore.categories$ | async" [value]="category">{{category.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
