.form-login{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.form-login-group {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.card-center {
    text-align: center;
    padding-top: 15px;
}

.item-center {
    text-align: center;
}

.btn-login {
    background-color: steelblue;
    border-color: steelblue;
    color:white;
}
  