<div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink] = "['/']">Project</a>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products-list']">Products List</a>
          </li>
        </ul>
      </div>
      <button
        class = "navbar-toggler"
        type = "button"
        data-toggle = "collapse"
        data-target = ".navbar-collapse"
        aria-label = "Toggle navigation"
        [attr.aria-expanded] = "isExpanded"
        (click) = "toggle()"
      >
        <span class = "navbar-toggler-icon"></span>
      </button>
      <div
        class = "navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass] = "{ show: isExpanded }"
      >
        <ul class = "navbar-nav flex-grow">
          <li 
            *ngIf = "authService.isLoggedIn()" 
            class = "nav-item">
            <a class = "nav-link text-dark">Hi, {{ authService.getCurrentUser()["username"] }}!</a>
          </li>
          <li 
            *ngIf = "authService.isLoggedIn()" 
            class = "nav-item" 
            (click) = "logout()">
            <a class ="nav-link text-dark">Logout</a>
          </li>
          <li 
            *ngIf = "!authService.isLoggedIn()" 
            class = "nav-item" 
            [routerLink] = "['/login']">
            <a class = "nav-link text-dark">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>